<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/default">
<head lang="en">
    <title>Store</title>
</head>
<body>
<section layout:fragment="content">

<div class="container">
    <div class="row">
        <form role="form" action="#" th:action="@{/store/save}" th:object="${store}" method="post" th:if="${store}">
            <input type="hidden" th:field="*{id}"/>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Store name" required="true" th:field="*{name}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="address" id="address" placeholder="Address" required="true" th:field="*{address}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact" required="true" th:field="*{contact}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="promotions">Promotions</label>
                    <div class="input-group">
                        <select name="promotions" class="selectpicker" multiple="true" title='Promotions ...' id="promotions" data-size="auto" data-container="body">
                            <option th:each="promo,row : *{promotions}"
                                    th:text="${promo.name}"
                                    th:value="${promo.id}"
                                    th:selected="${promo.active}" >
                            </option>
                        </select>
                    </div>
                </div>

                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right"/>
            </div>
        </form>
    </div>
</div>
    </section>
</body>
</html>